*{
	box-sizing:border-box;
}
html { 
	font-size: 1.25em; 
	overflow-y: scroll;
}
h1, h2, h3, h4{
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
p, h5, h6, label, li{
	font-family: 'Roboto', sans-serif;
}

h1 { font-size: 3.3em; }

h2 { font-size: 2.7em; }

h3 { font-size: 2.2em; }

h4 { font-size: 1.8em; }
h5 { font-size: .8em; }

h6 { font-size: .6em; }
p,a { font-size: 1em; }

em { font-size: 1.5em; }

.imgIcon{
	height: 1.5em;
	width: 1.5em;	
}
nav{
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 3em;
	background-color: rgba(0,0,0,.85);
/*	background-color: #111111;*/
}
nav ul{
	list-style: none;
	float:right;
	/*overflow: hidden;*/
}
nav ul li{
	padding-left: 2em;
	display:inline;
}
nav ul li a{
	color:rgba(255,255,255,.75);
	text-decoration: none;
	font-weight: bold;
	padding:.75em;
	border-top:4px transparent;
	border-bottom:4px transparent;
    -webkit-transition: color 1s; /* Safari 3.1 to 6.0 */
    transition: color 1s;
}
nav ul li a:hover{
	color:rgba(255,255,255,1);
}
nav ul li a.active{
	color: rgba(97, 255, 6,.8);
	/*color:black;*/
	border-bottom:3px solid rgba(97, 255, 6,1);
	border-top:3px solid rgba(97, 255, 6,1);
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
    transition: all 1s;
}
nav ul li a.active:hover{
	color: rgba(97, 255, 6,1);
}

.spacing{
	height:3em;
}
section {
	width: 100%;
	min-height: 100vh;
}
.dark-band{
	width: 100%;
	height:3em;
	background-color: black;
}
.container{
	width: 85%;
	margin: 0px auto;
}
section.home{
	position:relative;
	font-weight: bold;
    overflow:hidden;
    background-color: rgba(0,0,0,1);
/*    -webkit-animation: fadeIn 12s;
    -moz-animation: fadeIn 12s;
    -ms-animation: fadeIn 12s;
    animation: fadeIn 12s;*/
	z-index:2;
}
/*@-webkit-keyframes fadeIn {
    from { background-color: rgba(255,0,0,1); }
    to { background-color: rgba(0,255,0,1); }
}
@-moz-keyframes fadeIn {
    from { background-color: rgba(255,0,0,1); }
    to { background-color: rgba(0,255,0,1); }
}
@-ms-keyframes fadeIn {
    from { background-color: rgba(255,0,0,1); }
    to { background-color: rgba(0,255,0,1); }
}
@-o-keyframes fadeIn {
    from { background-color: rgba(255,0,0,1); }
    to { background-color: rgba(0,255,0,1); }
}*/
/*@keyframes fadeIn {
    0% { background-color: rgba(255,0,0,1); }
    100% { background-color: rgba(0,255,0,1); }
}
*/
section.home::after{
	content:"";
	position:absolute;
	width:250vw;
	height:300vh;
	left: -60vw;
	top: -75vh;
	z-index:-1;
	background-image: url('../img/code-circle-zero-numbers-binary.jpg');
	background-size: cover;	
    -webkit-animation: spin 1000s infinite linear;
    -moz-animation: spin 1000s infinite linear;
    -ms-animation: spin 1000s infinite linear;
    animation: spin 1000s infinite linear;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.social p{
	margin: 0em 12%;
}
.social p a{
	text-decoration: none;
	text-align: center;
	display:inline-block;
	width: 180px;
	padding: 1em 0em;
	margin: 1em auto;
	background-color: rgba(255,255,255,.95);
	text-shadow: 0px 0px 48px rgba(97,254,6,.6);
	border:2px solid black;
	color: black;
	box-shadow: 0px 0px 2px black;
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
    transition: all 1s;
	/*color:#111111;*/
}
.social p a:hover{
	background-color: white;
	text-shadow: 0px 0px 64px rgba(97,254,6,.9);
	box-shadow: 0px 0px 16px black;
}
section.about{
	background-color: #FFDEB1;
	/*color:white;*/
	color: #111111;
}
.about h3{
	color: #111111;
	padding:1em 0em 0em 0em;
	margin:.5em 0em .5em 1em;
}
.about ul{
	list-style: none;
}
.about li{
	line-height: 1.5em;
}
.about ul, .about li{
	margin:0;
	margin-left:1em;
	padding:0;
}
section.portfolio{
	background-color: white;
	color:#111111;
}
.portfolio h3{
	line-height: 1.5em;
	margin-top: 0em;
	margin-bottom:0em;
	padding:0em 36px;
}
.portfolio h3 a{
	color:#111111;
	text-decoration: none;
}
.portfolio p{
	padding: 0em 36px;
}

section.contact{
	background-color:#740000;
	color:white;
}
.contact input, .contact textarea{
	background-color: white;
	color: #111111;
}

.contact input{
	height: 48px;
}
.contact textarea{
	height: 96px;
	margin-bottom: 48px;
}

.card{
	width: 100%;
	overflow:hidden;
	margin-top:2em;
	max-height: 500px;
}
.card:last-child{
	padding-bottom: 1em;
}
.card img{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}
.card div{
	width: 66%;
	display: inline-block;
	vertical-align: top;
	padding-top: 0em;
}
.half{
	display:inline-block;
	width:49%;
	vertical-align: top;
	/*padding:1em 0em;*/
}
.onethird{
	display:inline-block;
	width:50px;
	vertical-align: top;
	padding:.2em;
	text-align: center
}
.twoThird{
	display:inline-block;
	width:69%;
	vertical-align: top;
	padding:.2em;
}
label{
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}
input, textarea{
	width: 100%;
}

section.tribute{
	background-color: mintcream;
}