/*Site-wide Basics*/
*{
	box-sizing:border-box;
}
html { 
	font-size: 1em; 
	overflow-y: scroll;
}
h1, h2, h3, h4{
	font-family: 'Raleway', sans-serif;
	margin-bottom: .3em;
}
p, h5, h6, label, li{
	font-family: 'Roboto', sans-serif;
	margin-bottom: .3em;
}
h1 { font-size: 3em; }
h2 { font-size: 2.4em; }
h3 { font-size: 2em; }
h4 { font-size: 1.6em; }
h5 { font-size: .8em; }
h6 { font-size: .6em; }
p,a { font-size: 1.2em; }
section {
	width: 100%;
	min-height: 100vh;
}
.spacing{
	height:3em;
}
.dark-band{
	width: 100%;
	height:3.5em;
	background-color: black;
}
.half{
	display:inline-block;
	width:49%;
	vertical-align: top;
}
.onethird{
	display:inline-block;
	width:50px;
	vertical-align: top;
	padding:.2em;
	text-align: center
}
.twoThird{
	display:inline-block;
	width:69%;
	vertical-align: top;
	padding:.2em;
}
.text-right{
	text-align: right;
}
/*End of Site-wide Basics*/


/*Responsive Bits*/
@media all and (max-width: 480px){
/*	section{
		background-color: red !important;
	}*/
	.container{
		width: 95%;
		margin: 0px auto;
	}
	.xs1 {
		width: 100%;
	}
}

@media all and (min-width: 481px) and (max-width: 960px){
/*	section{
		background-color: orange !important;
	}*/
	.container{
		width: 95%;
		margin: 0px auto;
	}
	.s2 {
		width: 49%;
		margin-right: 2%;
	}
	.s2:nth-child(2n+0){
		margin-right: -2px !important;
	}
}
@media all and (min-width: 961px) and (max-width: 1350px){
/*	section{
		background-color: yellow !important;
	}*/
	.container{
		width: 90%;
		margin: 0px auto;
	}
	.m3 {
		width: 32%;
		margin-right: 1%;
	}
	.m3:nth-child(3n+0){
		margin-right: -2px !important;
	}
}
@media all and (min-width: 1351px){
/*	section{
		background-color: green !important;
	}*/
	.container{
		width: 90%;
		margin: 0px auto;
	}
	.l4 {
		width: 24%;
		margin-right: 1%;
	}
	.l4:nth-child(4n+0){
		margin-right: -2px !important;
	}
}
/*End of Responsive Bits*/



/*Icons and icon-like images*/
/*used for triggering technology-icon font*/
em { font-size: 1.5em; }
/*and keeping images used as icons the same size*/
.imgIcon{
	height: 1.5em;
	width: 1.5em;	
}
/*End of Icons and icon-like images*/


/*NAVIGATION*/
nav{
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 3.5em;
	background-color: rgba(0,0,0,.85);
}
nav ul{
	list-style: none;
	float:right;
}
nav ul li{
	padding-left: 2em;
	display:inline;
}
nav ul li a{
	color:rgba(255,255,255,.75);
	text-decoration: none;
	font-weight: bold;
	padding:.75em;
	border-top:4px transparent;
	border-bottom:4px transparent;
    -webkit-transition: color 1s; /* Safari 3.1 to 6.0 */
    transition: color 1s;
}
nav ul li a:hover{
	color:rgba(255,255,255,1);
}
nav ul li a.active{
	color: rgba(97, 255, 6,.8);
	border-bottom:3px solid rgba(97, 255, 6,1);
	border-top:3px solid rgba(97, 255, 6,1);
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
    transition: all 1s;
}
nav ul li a.active:hover{
	color: rgba(97, 255, 6,1);
}
/*End of NAVIGATION*/



/*Home Page*/
section.home{
	position:relative;
	font-weight: bold;
    overflow:hidden;
    background-color: rgba(0,0,0,1);
	z-index:2;
}
section.home::after{
	content:"";
	position:absolute;
	width:250vw;
	height:300vh;
	left: -60vw;
	top: -75vh;
	z-index:-1;
	background-image: url('../img/code-circle-zero-numbers-binary.jpg');
	background-size: cover;	
    -webkit-animation: spin 1000s infinite linear;
    -moz-animation: spin 1000s infinite linear;
    -ms-animation: spin 1000s infinite linear;
    animation: spin 1000s infinite linear;
}
.social p{
	margin: 0em 12%;
}
.social p a{
	text-decoration: none;
	text-align: center;
	display:inline-block;
	width: 180px;
	padding: 1em 0em;
	margin: 1em auto;
	background-color: rgba(255,255,255,.95);
	text-shadow: 0px 0px 48px rgba(97,254,6,.6);
	border:2px solid black;
	color: black;
	box-shadow: 0px 0px 2px black;
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
    transition: all 1s;
}
.social p a:hover{
	background-color: white;
	text-shadow: 0px 0px 64px rgba(97,254,6,.9);
	box-shadow: 0px 0px 16px black;
}
/*End of Home Page*/



/*About Page*/
section.about{
	background-color: #FFDEB1;
	/*color:white;*/
	color: #111111;
}
.about h3{
	color: #111111;
	padding:1em 0em 0em 0em;
	margin:.5em 0em .5em 1em;
}
.about ul{
	list-style: none;
}
.about li{
	line-height: 1.5em;
}
.about ul, .about li{
	margin:0;
	margin-left:1em;
	padding:0;
}
/*About Page*/


/*Portfolio Page*/
section.portfolio{
	background-color: white;
	color:#111111;
}
/*Portfolio Page Cards*/
.card-container{
    display: inline-block;
	padding-bottom: 16px;
}
.card {
    /* Shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {  
	/* On mouse-over => deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
	width: 100%;
}
.card-text-space {
    padding: 8px 12px;
}
.card-text-space p, .card-text-space h4{
	line-height: 1.5em;
	margin-top: 0em;
}
/*End of Portfolio Page Cards*/

/*Portfolio Modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.portfolio-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*End of Portfolio Modal*/

/*End of Portfolio Page*/



/*Contact Page*/
section.contact{
	background-color:#740000;
	color:white;
}
label{
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}
.contact input, .contact textarea{
	background-color: white;
	color: #111111;
	width: 100%;
}
.contact input{
	height: 48px;
}
.contact textarea{
	height: 96px;
	margin-bottom: 48px;
}
/*End of Contact Page*/


/*Tribute*/
section.tribute{
	background-color: mintcream;
}
/*End of Tribute*/


/*Animations*/
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/*End of Animations*/